/* Max page width
/////////////////////////////////////////////////////////////////////*/
@font-face {
	font-family: 'MICEGothic Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@media ( min-width : 1200px) {
	.container {
		max-width: 1080px;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-end; /* 요소들을 아래쪽으로 정렬합니다 */
}

.box {
	width: 200px;
	height: 150px;
	background-color: white;
	border: 2px solid black;
	margin: 5px;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border-radius: 15px; /* 박스의 모서리를 둥글게 만듦 */
	margin-right: 50px;
	
}

.box:last-child {
	margin-right: 0;
}

.box-content {
	text-align: center;
	font-weight: bold; /* 텍스트를 굵게 설정 */
}

.category-tag {
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	padding: 2px 5px;
	border-radius: 8px; /* 모서리를 둥글게 만듦 */
	font-size: 15px;
	margin-bottom: 8px;
	margin-top: 15px;
}

.author {
	margin-top: auto; /* 아래쪽 여백을 최대로 늘려 고정시킵니다 */
	margin-right: 30px; /* 왼쪽으로 이동시킴 */
}

a {
	color: #000;
	text-decoration: none; /* 링크 밑줄 제거 */
}

.back {
	margin-top: -20px;
	width: 100%;
	height: 150px;
	background-color: #333232;
	position: relative;
}

.box1 {
	position: absolute;
	top: 280px;
	width: 100%;

}

.content {
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: 'MICEGothic Bold';
}

.spacer {
	height: 100px;
}

body {
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
}

.layout {
	width: 800px;
	margin: 40px auto;
}



table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}

th, td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

tbody tr:hover {
	background-color: #f9f9f9;
}

tbody td:first-child {
	font-weight: bold;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

nav ul li {
	margin-right: 5px;
}

.add-review-button {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
	margin-top: 10px;
}
}