@charset "UTF-8";

/* Window.open한 멤버 상세정보 */
.Window_container {
	text-align: center;
}

/* 스타일을 적용할 클래스명을 사용하여 스타일 작성 */
.Big_container {
    text-align: center;
    margin-left: 94px;
}

.container1 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* 회원이 없을 때의 스타일 */
h1 {
    color: #555;
}

/* 가입된 회원이 없을 때의 스타일 */
h1:empty {
    color: #f00; /* 빨간색 텍스트 */
}

a {
	text-decoration: none;
}

/* 검색 폼 스타일 */
.search form {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: flex-end; /* 수평 우측 정렬 */
    margin-right: 50px;
}

.search select,
.search input[type="text"],
.search input[type="submit"] {
    margin: 5px;
    padding: 8px;
}

/* 버튼 스타일 */
.button-style {
     display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #808080; /* 그레이 톤 테두리 색상 */
    color: #808080; /* 그레이 톤 텍스트 색상 */
    background-color: #f5f5f5; /* 그레이 톤 배경색 */
    border-radius: 5px; /* 테두리 반경 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

/* 마우스 호버 시 배경색 변경 */
.button-style:hover {
    background-color: #d3d3d3; /* 호버 시 배경색 */
    border-color: #d3d3d3; /* 호버 시 테두리 색상 */
    color: #fff; /* 호버 시 텍스트 색상 */
}
