@charset "UTF-8";

@font-face {
	font-family: 'MICEGothic Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
		    
.container {
	width: 600px;
}


.reviewtitle{
	color: black !important;
	font-size: 20px;
	font-weight: bold;
	font-family: 'MICEGothic Bold';

}

.review-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	width: 600px !important;
	margin-left: 225px;
	font-family: 'MICEGothic Bold';
}

.review-content h2 {
	margin-top: 0;
	color: #007bff;
}

.view-reply {
	/* 이 부분에 박스의 너비와 높이를 조정하는 스타일을 추가하세요 */
	width: 600px !important; /* 예시로 너비를 100%로 설정 */
	height: 125px; /* 예시로 높이를 400px로 설정 */
	/* 필요에 따라 다른 속성도 조정할 수 있습니다 */
	margin-left: 225px;
	font-family: 'MICEGothic Bold';
}

textarea{
	border-radius: 10px;
	border: 2px solid #808080;
	background-color: #fff;
}


.review-reply{
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	width: 600px !important;
	margin-left: 225px;
	font-family: 'MICEGothic Bold';
}