@charset "UTF-8";

	 body {
	        font-family: Arial, sans-serif;
	        margin: 0;
	        padding: 0;
	    } 

        .layout {
            width: 800px;
            margin: 120px auto 0;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .layout form {
            display: flex;
            flex-direction: column;
        }

        .layout input[type="text"],
        .layout textarea,
        .layout input[type="file"] {
            width: 100%;
            box-sizing: border-box;
            margin-top: 10px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        .layout input[type="submit"],
        .layout input[type="button"] {
            margin-top: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-left: 90px;
        }
        
        .form-actions{
        	margin-left: 190px;
        }

        .layout input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
        }

        .layout input[type="submit"]:hover {
            background-color: #45a049;
        }

        .layout input[type="button"] {
            background-color: #f44336;
            color: #fff;
        }

        .layout input[type="button"]:hover {
            background-color: #d32f2f;
        }
        